DirectoryIndex frontend/dist/index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Laravel backend
  RewriteCond %{REQUEST_URI} ^/backend [NC]
  RewriteRule ^ - [L]

  # Jika file/folder ada → layani langsung
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Selain itu, arahkan semua ke Vue index.html
  RewriteRule ^ frontend/dist/index.html [L]
</IfModule>
